fastapi
uvicorn
pymupdf
sentence-transformers
pinecone-client
python-multipart
python-dotenv
cloudinary
langchain-text-splitters
pinecone
openai
cohere
ragas
fastapi
uvicorn
slowapi
sse-starlette
httpx
trafilatura
youtube-transcript-api